{% extends 'base.html.twig' %}

{% block title %}Panelist{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-3">#{{ panelist.id }} - {{ panelist.fullName }}</h1>

        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary href="{{ path('app_panelist_index') }}">Back to Panelists</a>

                <a class="btn btn-outline-primary" href="{{ path('app_panelist_edit', {'id': panelist.id}) }}">Edit</a>

                {{ include('panelist/_delete_form.html.twig') }}
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ panelist.id }}</td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>{{ panelist.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{ panelist.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ panelist.email }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ panelist.phone }}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>{{ panelist.country }}</td>
                    </tr>
                    <tr>
                        <th>Receives Newsletters</th>
                        <td>{{ panelist.receiveNewsletters ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Created At</th>
                        <td>{{ panelist.createdAt ? panelist.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Updated At</th>
                        <td>{{ panelist.updatedAt ? panelist.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
